<div class="container-fluid bg-light footer">
  <div class="container">
    <div class="row">
      <div class="container mb-4">
        <img src="../../../assets/img/logo.png" alt="logo-Guest-House">
      </div>
      <div class="col-md-3 mb-4">
        <h3>Sede legale</h3>
        <p>Via Roma 76 Milano (MI)</p>
        <h3></h3>
        <p>P.Iva: 12345678910</p>
      </div>
      <div class="col-md-3  mb-4">
        <h3>Contatti</h3>
        <p>Tel: 350 35 567 89</p>
        <p>Mail: info@guesthouse.com</p>
      </div>
      <div class="col-md-3  mb-4">
        <h3>Link utili</h3>
        <a href="#">Lavora con noi</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="col-md-3  mb-4">
        <h3>Seguici su</h3>
        <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
        <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-credits text-center">
  <p class="m-0">Copyright 2022 - Guest House - Realizzato da <strong>ALESSANDRO FINIZIO</strong></p>
</div>
