.navbar-brand img{
  width: 80px;
  height: 100%;
}

.nav-social{
  font-size: 23px;
  font-weight: bold;
  margin: 0 5px;
}i{
  color: #FF385C;
  padding-right:10px ;
}

.nav-social li{
  display: inline;
}

.user-nav{
  font-size: 16px;
}
.user-nav i{
  color: #1a1a1a;
  font-size: 15px;
}
.user-nav a:hover{
  color: #FF385C;
}

@media (max-width: 768px) {
  .nav-social{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
  }
  .user-nav {
    margin-left: auto;
    text-align: end;
    padding: 10px 0;
  }
}
