<h2 class="text-uppercase text-center fs-2 my-5">Carica il tuo annuncio</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="uploadHost(form)">
        <div class="form-group mt-2">
          <input name="userId" type="number" class="form-control d-none" id="idUtente" ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="title" class="form-label mb-2 fs-5 fw-bold">Inserisci titolo</label>
          <input name="title" type="text" class="form-control" id="title" required ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="category" class="form-label mb-2 fs-5 fw-bold">Inserisci categoria</label>
          <input name="category" type="text" class="form-control" id="category" placeholder="Es.(Monolocale, bilocale, trilocale)" required ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="city" class="form-label mb-2 fs-5 fw-bold">Inserisci città</label>
          <input name="city" type="text" class="form-control" id="city" placeholder="Es.(Gallipoli, Rimini)" required ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="location" class="form-label mb-2 fs-5 fw-bold">Inserisci via</label>
          <input name="location" type="text" class="form-control" id="location" placeholder="Es.(Via roma n. 56)" required ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="img" class="form-label mb-2 fs-5 fw-bold">Inserisci foto</label>
          <input name="img" type="text" class="form-control" id="img" placeholder="Inserisci link della foto" required ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="info" class="form-label mb-2 fs-5 fw-bold">Inserisci la tua email</label>
          <input name="info" type="mail" class="form-control" id="info" placeholder="Utilizza una mail per essere contattato " required ngModel>
        </div>
        <div class="form-group mt-2">
          <label for="description" class="form-label mb-2 fs-5 fw-bold">Inserisci una descrizione</label>
          <textarea name="description" type="text" class="form-control" cols="30" rows="5" id="description" placeholder="Descrivi il tuo appartamento" required ngModel></textarea>
        </div>
        <button type="submit" class="btn btn-primary my-3" [disabled]="!form.valid">Crea annuncio</button>
      </form>
    </div>
    <div class="col-md-6">
      <img class="img-fluid mt-5" src="../../../assets/img/logo.png" alt="logoGuestHouse">
      <p>In questa sezione puoi creare il tuo annuncio. Più sarai specifico nel descrivere la tua proprietà più sarà facile che i nostri surfer ti trovino!!!. Se hai bisogno di aiuto puoi contattare in nostro servizio clienti compilando il form che trovi in questo <a [routerLink]="['/contatti']">link</a> oppure puoi seguire le nostre <a href="#blog">guide</a>.</p>
      <div>
        <h3 class="text-uppercase fw-bolder fs-3 mt-5">Seguici su:</h3>
        <ul class="navbar-nav nav-social">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook me-3" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
