<div class="container-fluid hero-section">
  <div class="container hero-text">
    <ul class="navbar-nav hero-social">
      <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
    <h1>Trova la casa vacanze perfetta</h1>
    <h2>Disponiamo di diverse soluzioni per i tuoi viaggi</h2>
    <div class="container px-0">
      <button [routerLink]="['signup']" class="btn btn-primary me-3">Registrati</button>
      <button [routerLink]="['annunci']" class="btn btn-primary">Vai a tutte le case</button>
    </div>
  </div>
</div>

