.navbar-brand img{
  width: 80px;
  height: 100%;
}

.nav-social{
  font-size: 23px;
  font-weight: bold;
  margin: 0 20px;
}i{
  padding: 0 10px;
  color: #FF385C;
}

.login-section{
  background-image:url('../../../assets/img/login-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-section::after{
  content: ' ';
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.2;
}

.login-box img{
  width: 150px;
  height: auto;
  display: flex;
  margin: 0 auto 40px auto;
}
.login-box{
  border-radius: 20px;
  background: #fff;
  padding: 50px 20px;
  margin: 150px auto 150px auto;
  z-index: 3;

}

@media (min-width: 768px) {
  .login-box{
    width: 600px;
    padding: 50px 40px;
  }
}
