/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary{
  background: #FF385C;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 15px;
}
.btn-primary:hover{
  background: #c33e56;
}
.btn:disabled{
  background: #FF385C;
  opacity: 0.5;
}
a{
  color: #FF385C;
}

//helpers
.colorTxt{
  color: #FF385C;
}
